<% content_for(:title, "Edit | Recipes") %>
<div class="container">
  <div class="col-md-4 edit_recipe_box">
  <h1>Edit your Recipe: </h1>
  </br>
  <%= render('layouts/errors', :object => @recipe) %>

  <%= render 'form' %>
  </br>
  <% if current_user && @recipe.user_id == current_user.id %>
  <p><%= link_to "Remove Recipe", recipe_path(@recipe), class: "btn btn-success btn-lg", data: { confirm: 'Are you sure you want to delete this recipe?',
    method: 'delete'} %></p>
    <% end %>
  </div>
</div>
