<% content_for(:title, "Home | Recipes") %>

<div class='container'>
  <div class='all_recipes'>
    <% Recipe.all.each do |recipe| %>
      <p><li><%= link_to recipe.name, recipe_path(recipe) %></li></p>

    <% end %>
  </div>
</div>

