<div class='container'>
<!--   <div class="col-md-4" id="border-left">
    <%= image_tag("border.jpg") %>
  </div> -->
  <h2 id="category_header">My Categories and the Recipes under them: </h2>

  <div class="col-md-4 category_show_box">

    <% current_user.groups.each do |group| %>
      <ul>
        <li><%= group.name %></li>
          <% group.recipes.each do |recipe| %>
            <ul>
              <li><%= link_to recipe.name, recipe_path(recipe) %></li>
            </ul>
          <% end %>
      </ul>
    <% end %>
  </div>
<!--   <div class="col-md-4" id="border-right">
    <%= image_tag("border.jpg") %>
  </div> -->
</div>

