<% content_for(:title, "New | Group") %>

<div class="col-md-4 new_category_box">
  <div class="new_category">
    <h1>Add a new Recipe Category</h1>
  </br>
    <%= render('layouts/errors', object: @group) %>

    <%= render 'form' %>
  </div>
</div>

