<% content_for(:title, "Show | Groups") %>

<h1>Category: <%= @group.name %></h1>



<%= link_to "Edit Category", edit_user_group_path, :class => 'btn btn-success' %>

<%= link_to "Homepage", root_path, :class => 'btn btn-success' %>
