<% content_for(:title, "New | Tag") %>

<div class='container'>
  <div class="col-md-4" id="border-left">
    <%= image_tag("border.jpg") %>
  </div>
  <div class="col-md-4 new_tag_box">
    <div class="new_tag">
      <h2>Add this Recipe to a Category: </h2>

      <%= render('layouts/errors', :object => @tag) %>

      <%= render'form' %>
    </div>
  </div>
  <div class="col-md-4" id="border-right">
    <%= image_tag("border.jpg") %>
  </div>
</div>
