/**********************
css rule for digital screen
and at least min width of 480px
(above a smart phone or mobile device, like a tablet
since already created main css for mobile)
***********************/

@media screen and (min-width: 480px) {

#recipe_gallery {
  width: 45%;
}

#category_gallery {
  width: 45%;
}

}

/**********************
css rule for digital screen and
at least min width of 660px
(next break point above tablet, maybe laptop)
***********************/

@media screen and (min-width: 660px) {

#recipe_gallery {
  width: 28.3333%;
}

#recipe_gallery:nth-child(4n) {
  clear: left;
}

#category_gallery {
  width: 28.3333%;
}

#category_gallery:nth-child(4n) {
  clear: left;
}

}
