/**********************
STICKY FOOTER CSS
***********************/

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  padding:5px;
  background:#e1eed7;
}
#content {
  padding:10px;
  padding-bottom:80px;   /* Height of the footer element */
}
#footer {
  width:100%;
  height:60px;
  position:absolute;
  bottom:0;
  left:0;
  background:#e1eed7;
}


/**********************
HEADER
***********************/

/*bootstrap might be interfering with css - needs to be reworked*/
header {
  margin: 0 0 15px 0;
  padding: 0 0 45px 0;
  width: 100%;
}

#logo {
  float: left;
  text-align: center;
  margin-left: 20px;
  padding: 10px;
}

#signin {
  float: right;
  margin-right: 20px;
  margin-top: 0;
  padding: 0;
  font-size: 1em;
}

#logging_in {
  display: inline-block;
}

.nav-right {
  float: right;
  display: inline-block;
 }

/**********************
FOOTER
***********************/

#nav-footer {
  padding: 10px 20px 0 20px;
  width: 100%;
}

.social_icon {
  display: inline-block;
  float: right;
}

/******************************
Login Page
*******************************/

.login_box {

  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 375px;
  margin-top: -200px; /* Half the height */
  margin-left: -175px; /* Half the width */
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  text-align: center;
  font-size: 1.5em;
  border: 3px green solid;
  border-radius: 15px;
  font-family: Apple Chancery;
  font-weight: bold;
}

#logging_in {
  padding-right: 35px;
  padding-top: 15px;
}

/******************************
Signup Page
*******************************/

#need_signup {
  padding-right: 35px;
  padding-top: 15px;
}

.signup_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  margin-top: -250px; /* Half the height */
  margin-left: -200px; /* Half the width */
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  text-align: center;
  font-size: 1.25em;
  border: 3px green solid;
  border-radius: 15px;
  font-family: Lucida Calligraphy;
  font-weight: bold;
}

/******************************
navbar
*******************************/

.navbar-form {
  padding-bottom: 10px;
}

/******************************
welcome page
*******************************/

.container {
  margin-left: 25px;
}

body {
    background-image: url('http://www.zingerbug.com/Backgrounds/background_images/light_green_ornate_floral_wallpaper_tileable.jpg');
}

.welcome-header {
  display: block;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  font-family: Lucida Calligraphy;
  font-size: 4em;
  font-weight: bold;
  margin-top: 40px;
  background-image: url('http://ilikewalls.com/wallpaper/28/7/simple-background-designs-4.jpg');
}

.minor_header {
  font-family: Lucida Calligraphy;
}

#create_recipe {
  height: 300px;
  width: 400px;
  margin-top: 50px;
}

#all_recipes {
  height: 300px;
  width: 400px;
  margin-top: 50px;
  padding-right: 15px;
}

.welcome-box {
  text-align: center;
  font-family: Lucida Calligraphy;
  font-weight: bold;
  font-size: 2em;

}

.feature_recipe {
  margin-top: 35px;
  border: 3px green solid;
  border-radius: 15px;
  padding: 10px;
  font-size: .75em;
  /*background: #ccffff;*/
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
}

.ingredients {
  text-align: left;
}

/******************************
Recipes home page
*******************************/

.all-recipe-header {
  font-family: Lucida Calligraphy;
  text-align: center;
}

.all_recipes_show {
  margin-top: 35px;
  border: 3px green solid;
  border-radius: 15px;
  padding: 10px;
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  font-family: Apple Chancery;
  font-weight: bold;
  font-size: 1.5em;
}

.search_for_recipes {
  margin-top: 35px;
  border: 3px green solid;
  border-radius: 15px;
  padding: 10px;
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  font-family: Apple Chancery;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.clear_search {
  text-align: center;
  font-size: 1.25em;
  color: green;
}
/******************************
Recipes show page
*******************************/

.recipe_show {
  margin-top: 35px;
  border: 3px green solid;
  border-radius: 15px;
  padding: 10px;
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  font-family: Lucida Calligraphy;
  font-weight: bold;
  font-size: 1.25em;
}

.photo_show {
  margin-top: 35px;
  padding: 10px;
}


/******************************
Recipes new page
*******************************/

.new_recipe_box {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin-top: 50px;
/*  margin-left: 400px;
  margin-right: 425px;*/
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  text-align: center;
  font-size: 1.5em;
  border: 3px green solid;
  border-radius: 15px;
  font-family: Apple Chancery;
  font-weight: bold;
}

.new_recipe {
  font-size: 1.1em;
}


/******************************
Recipes edit page
*******************************/

.edit_recipe_box {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin-top: 75px;
  margin-left: 400px;
  margin-right: 425px;
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  text-align: center;
  font-size: 1.5em;
  border: 3px green solid;
  border-radius: 15px;
  font-family: Apple Chancery;
  font-weight: bold;
}


/******************************
Photos new page
*******************************/

.new_photo_box {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin-top: 75px;
  margin-left: 400px;
  margin-right: 425px;
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  text-align: center;
  font-size: 1.5em;
  border: 3px green solid;
  border-radius: 15px;
  font-family: Apple Chancery;
  font-weight: bold;
}

#add_photo_form {
  font-size: 1.25em;
  text-align: left;
  margin-top: 15px;
}


/******************************
Category/group index page
*******************************/

.category_show_box {
  max-width: 400px;
  padding-left: 20px;
  padding-bottom: 30px;
  margin-top: 75px;
/*  margin-left: 400px;
  margin-right: 425px;*/
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  font-size: 1.5em;
  border: 3px green solid;
  border-radius: 15px;
  font-family: Apple Chancery;
  font-weight: bold;
}


/******************************
Category/group new page
*******************************/

.new_category_box {
  max-width: 400px;
  padding: 19px 29px 29px;
 /* margin-top: 150px;
  margin-left: 400px;
  margin-right: 425px;
 */ background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  text-align: center;
  font-size: 1.5em;
  border: 3px green solid;
  border-radius: 15px;
  font-family: Apple Chancery;
  font-weight: bold;
  margin-top: 175px;
}


/******************************
Category/group show page
*******************************/

#category-recipes {
  display: block;
  /*margin-left: auto;
  margin-right: auto;*/
  text-align: center;
}

.category-recipe {
  color: black;
  font-family: Chalkboard;
}

.category-header {
  font-family: Lucida Calligraphy;
  font-weight: bold;
}


/******************************
Category/group edit page
*******************************/

.edit_category_box {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin-top: 75px;
  margin-left: 400px;
  margin-right: 425px;
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  text-align: center;
  font-size: 1.5em;
  border: 3px green solid;
  border-radius: 15px;
  font-family: Apple Chancery;
  font-weight: bold;
}


/******************************
Favorites index page
*******************************/

.favorite-header {
  font-family: Lucida Calligraphy;
  text-align: center;
}

.favorite-recipe {
  color: black;
  font-family: Chalkboard;
  font-size: 1.5em;
  text-align: center;
}


/******************************
Tag new page
*******************************/

.new_tag_box {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin-top: 150px;
/*  margin-left: 400px;
  margin-right: 425px;*/
  background-image: url('http://img.photobucket.com/albums/v221/whitetulips/beige-seamless-wallpaper.jpg');
  text-align: center;
  font-size: 1.5em;
  border: 3px green solid;
  border-radius: 15px;
  font-family: Apple Chancery;
  font-weight: bold;
}


/******************************
Users show page
*******************************/

.user-show-header {
  font-family: Lucida Calligraphy;
  font-weight: bold;
}


#user-recipes {
  font-family: Lucida Calligraphy;
  color: black;
  font-size: 1.5em;
}

#user-categories {
  font-family: Lucida Calligraphy;
  color: black;
  font-size: 1.5em;
}

.user-recipe {
  color: black;
  font-family: Chalkboard;
}

.user-category {
  color: black;
  font-family: Chalkboard;
}

.sushi-pic {
   -webkit-transform: rotate(7deg);
   padding-bottom: 15px;
}

.cake-pic {
   -webkit-transform: rotate(-7deg);
   padding-bottom: 20px;
   padding-left: 35px;
}

.pork-pic {
   -webkit-transform: rotate(5deg);
   padding-top: 20px;
}

#photo_image {
  margin-top: 5px;
  padding-top: 10px;
  height: 40px;
}
/******************************
page borders
*******************************/

#border-left {
  float: left;
  max-width: 15%;
  text-align: left;
  margin: 2.5%%;
  padding: 0;
}

#border-right {
  float: right;
  max-width: 15%;
  text-align: right;
  margin: 2.5%;
  padding: 0;
}


