<footer>
  <div class="nav-footer" id="footer">
<!--     <a href="#"><img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
    <a href="#"><img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a> -->
    <p id="copyright">&copy; 2015 Linda Gibson</p>
  </div>
</footer>
